@using DKAC.Common
@using DKAC.Models.EntityModel
@using DKAC.Controllers
@using DKAC.Models.InfoModel
@using DKAC.Models.Enum
@{
    HomeController homeController = new HomeController();
    var em = (Employee)Session[CommonConstants.EMPLOYEE_SESSION];
    var user = (User)Session[CommonConstants.USER_SESSION];
    var per = (AccountModulPageInfo)Session[CommonConstants.PAGE_MODUL_SESSION];
    var userId = user.id;
    var type = user.UserGroupId;
}

<!DOCTYPE html>

<style>
    .alert-minimalist {
        background-color: rgb(241, 242, 240);
        border-color: rgba(149, 149, 149, 0.3);
        border-radius: 3px;
        color: rgb(149, 149, 149);
        padding: 10px;
    }

        .alert-minimalist > [data-notify="icon"] {
            height: 100px;
            margin-right: 12px;
        }

        .alert-minimalist > [data-notify="title"] {
            color: rgb(51, 51, 51);
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .alert-minimalist > [data-notify="message"] {
            font-size: 80%;
        }

    .notifyjs-bootstrap-base {
        padding: 30px 150px 25px 110px !important;
    }

    .notifyjs-bootstrap-error {
        background-color: #e8e8e8;
        opacity: 0.8;
        border: #bfbfbf solid 1px;
    }

    .nav-link {
        padding: 0px !important;
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .badge {
        display: block !important;
        line-height: 0.8 !important;
    }

    .dropdown-menu.show {
        transform: translate3d(-298px, 30px, 21px) !important;
        width: 350px !important;
        border-radius: 10px !important;
        background-color: #fffcfc !important;
    }

    .dropdown-header {
        color: #000000 !important;
    }

    .dropdown-item {
        font-size: 12px !important;
    }

    .toast toast-info {
        background-color: #708f1c !important,
    }

    .form-group-icon {
        position: relative;
    }

        .form-group-icon > input {
            padding-left: 32px;
        }

        .form-group-icon > i {
            position: absolute;
            color: rgba(0, 0, 0, .54);
            left: 0;
            bottom: calc(0.375rem - 1px);
        }
</style>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Đăng ký ăn ca online</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="~/assets/font/GoogleFonts.css" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/font/css/all.css" rel="stylesheet" />
    <link href="~/assets/login/vendor/select2/select2.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/DKAC/index.min.css" rel="stylesheet" />

    <!--css scrollPagination-->
    <link href="~/Styles/scollPagination/scrollpagination.css" rel="stylesheet" />

    <!-- =======================================================
    * Template Name: DBD - v2.0.1
    * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <h1 class="logo mr-auto"><a href="/"><span>DKAC</span>.COM</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="~/assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/">Trang chủ</a></li>

                    @foreach (var item in per.ListModul)
                    {
                        <li class="drop-down">
                            <a href="">@item.ModulName</a>
                            <ul>
                                @foreach (var page in per.ListPage)
                                {
                                    if (page.ModulId == item.id)
                                    {
                                        <li><a href="@page.Url">@page.PageName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }

                    <li class="drop-down">
                        <a href="">Tài khoản</a>
                        <ul>
                            <li><a href="/Employee/EditEmployeeInfo">Thông tin cá nhân</a></li>
                            <li><a href="/Account/Logout">Đăng xuất</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Giới thiệu</a></li>

                    @if (type == (int)GroupUser.admin)
                    {
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" onclick="LoadPopupSelectChat()" href="#" title="Tin nhắn" id="alertsSelectChat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="row">
                                    <div>
                                        <i style="color:#0081ff;font-size:14px;" class="fab fa-facebook-messenger"></i>
                                    </div>
                                    <div>
                                        <span class="badge badge-danger badge-counter"><span class="countMesssage">&nbsp;</span></span>
                                    </div>
                                </div>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div id="PopupSelectChat" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsSelectChat" style="height:655px;max-height:655px;background-color:#f9f9f9 !important;overflow-y:scroll;overflow-x:hidden;">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="dropdown-header" style="padding-bottom:0px;padding-left:10px;">
                                            <b style="color:#dc3545" id="messageTo">Tin nhắn của bạn</b>
                                        </span>
                                    </div>
                                    <div class="col-7" style="text-align:right;">
                                        <span class="dropdown-header" style="padding-bottom:0px;padding-right:10px">
                                            <a href="javascript:void(0)" onclick="" style="font-size:12px;cursor:pointer;color:#0095ff;padding-top:3px;text-transform:none;">
                                                <u>Đánh dấu tất cả là đã đọc</u>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-12" style="padding:10px 25px 10px 25px">
                                        <input class="form-control" style="border-radius:50px;" id="searchChat" placeholder="Tìm kiếm người dùng..." />
                                    </div>
                                    <div class="col-1"></div>
                                </div>

                                <div id="lstSelectChat">

                                </div>
                            </div>
                        </li>
                    }

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" onclick="LoadNoti()" href="#" title="Thông báo" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="row">
                                <div>
                                    <i style="color:#1bbd36;font-size:14px;" class="fas fa-bell fa-fw"></i>
                                </div>
                                <!-- Counter - Alerts -->
                                <div>
                                    <span class="badge badge-danger badge-counter"><span class="count">&nbsp;</span></span>
                                </div>
                            </div>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div id="scrollpagination" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown" style="height:655px;max-height:655px;background-color:#f9f9f9 !important;overflow-y:scroll;overflow-x:hidden;">
                            <div class="row">
                                <div class="col-5">
                                    <span class="dropdown-header" style="padding-bottom: 0px;">
                                        <b style="color: #dc3545">Thông báo <i class="fas fa-bell fa-fw" title="Thông báo"></i></b>
                                    </span>
                                </div>
                                <div class="col-7" style="text-align:right;">
                                    <span class="dropdown-header" style="padding-bottom: 0px;">
                                        <a href="javascript:void(0)" onclick="TickALLReaded()" style="font-size:12px;cursor:pointer;color:#0095ff;padding-top:3px;text-transform:none;">
                                            <u>Đánh dấu tất cả là đã đọc</u>
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div id="contentLoading">

                            </div>
                            <div class="loading" id="loading" style="background-color:aliceblue;font-size:12px;"></div>
                        </div>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->

            <div class="header-social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>

        </div>
    </header>
    <!-- End Header -->

    <main id="main">
        <!--Body Section-->
        <section id="body">
            <div class="container" data-aos="fade-up">
                @RenderBody()
            </div>
        </section>
        <!--End Body Section-->
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Đăng Ký Ăn Ca</h3>
                        <p>
                            Số 1, Nguyễn Văn Huyên<br>
                            Hà Nội, Việt Nam<br><br>
                            <strong>Số điện thoại:</strong> +84 325 712 929<br>
                            <strong>Email:</strong> phamvandiep353@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Liên kết</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="">Trang chủ</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="">Giới thiệu</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="">Dịch vụ</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="">Sự kiên</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="">Bản quyền</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Tham gia cùng chúng tôi</h4>
                        <p>Lợi ích của bạn là nghĩa vụ của chúng tôi</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Đăng ký">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>DKAC</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/company-free-html-bootstrap-template/ -->
                    Thiết kế bởi <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top" title="Lên đầu trang"><i class="icofont-simple-up"></i></a>
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/font/js/all.js"></script>
    <script src="~/assets/vendor/jquery/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/notify.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
</body>

</html>

@if (user != null || em != null)
{
    var shortName = "";
    if (user != null)
    {
        var name = user.FullName;
        if (name != null && name.Length > 0)
        {
            for (int i = name.Length - 1; i >= 1; --i)
            {
                int vt = name.LastIndexOf(' ');
                shortName = name.Substring(vt + 1);
                break;
            }
        }
    }
    if (em != null)
    {
        var name = em.FullName;
        if (name != null && name.Length > 0)
        {
            for (int i = name.Length; i >= 0; i--)
            {
                int vt = name.LastIndexOf(' ');
                shortName = name.Substring(vt + 1);
                break;
            }
        }
    }

    <html>
    <head>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            * {
                box-sizing: border-box;
            }

            /* Button used to open the chat form - fixed at the bottom of the page */
            .open-button {
                background-color: #ff0000;
                color: white;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                right: 0px;
                bottom: 10px;
                height: 40px;
                width: 40px;
            }

            /* Add styles to the form container */
            .form-container {
                max-width: 300px;
                padding: 10px;
                background-color: white;
            }

                /* Full-width textarea */
                .form-container textarea {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    border: none;
                    background: #f1f1f1;
                    resize: none;
                    min-height: 200px;
                }

                    /* When the textarea gets focus, do something */
                    .form-container textarea:focus {
                        background-color: #ddd;
                        outline: none;
                    }

                /* Set a style for the submit/send button */
                .form-container .btn {
                    background-color: #4CAF50;
                    color: white;
                    padding: 6px 20px;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: 5px;
                    opacity: 0.8;
                }

                /* Add a red background color to the cancel button */
                .form-container .cancel {
                    background-color: red;
                }

                /* Add some hover effects to buttons */
                .form-container .btn:hover, .open-button:hover {
                    opacity: 1;
                }


            /*///////////////////////////////////////////////*/

            .popup-box {
                background-color: #f9f9f9;
                border: 1px solid #b0b0b0;
                bottom: 0;
                display: none;
                height: 475px;
                position: fixed;
                font-family: 'Open Sans';
                right: 0px;
                z-index: auto;
                width: 330px;
            }

            .round.hollow {
                margin: 40px 0 0;
            }

                .round.hollow a {
                    border: 2px solid #ff6701;
                    border-radius: 35px;
                    color: red;
                    color: #ff6701;
                    font-size: 23px;
                    padding: 10px 21px;
                    text-decoration: none;
                    font-family: 'Open Sans', sans-serif;
                }

                    .round.hollow a:hover {
                        border: 2px solid #000;
                        border-radius: 35px;
                        color: red;
                        color: #000;
                        font-size: 23px;
                        padding: 10px 21px;
                        text-decoration: none;
                    }

            .popup-box-on {
                display: block !important;
            }

            .popup-box .popup-head {
                background-color: #0081ff;
                clear: both;
                color: white;
                display: block;
                font-size: 16px;
                padding: 12px 0px 5px 5px;
                font-family: 'Open Sans';
                font-weight: bold;
            }

            .bg_none i {
                border: 1px solid #ff6701;
                border-radius: 25px;
                color: #ff6701;
                font-size: 17px;
                height: 33px;
                line-height: 30px;
                width: 33px;
            }

            .bg_none:hover i {
                border: 1px solid #000;
                border-radius: 25px;
                color: #000;
                font-size: 17px;
                height: 33px;
                line-height: 30px;
                width: 33px;
            }

            .bg_none {
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                border: medium none;
            }

            .popup-box .popup-head .popup-head-right {
                margin: 11px 7px 0;
            }

            .popup-head-left img {
                border: 1px solid #7b7b7b;
                border-radius: 50%;
                width: 44px;
            }

            .popup-messages-footer {
                background: #fff none repeat scroll 0 0;
                bottom: 0;
                position: absolute;
                bottom: 3px;
                width: 100%;
            }

            .simple_round {
                background: #d1d1d1 none repeat scroll 0 0;
                border-radius: 50%;
                color: #4b4b4b !important;
                height: 21px;
                padding: 0 0 0 1px;
                width: 21px;
            }

            .popup-box .popup-messages {
                height: 380px;
                overflow: auto;
            }

            .direct-chat-messages {
                height: auto;
                overflow: auto;
                padding: 0px 10px 10px 10px;
                transform: translate(0px, 0px);
            }

            .popup-messages .chat-box-single-line {
                border-bottom: 1px solid #a4c6b5;
                height: 12px;
                margin: 7px 0 20px;
                position: relative;
                text-align: center;
            }

            .popup-messages .timestamp {
                color: black;
                padding: 5px 0px 5px 0px;
                font-size: 12px;
            }

            .popup-head-right .btn-group {
                display: inline-flex;
                margin: 0 8px 0 0;
                vertical-align: top !important;
            }

            .chat-header-button {
                background: transparent none repeat scroll 0 0;
                border: 1px solid #636364;
                border-radius: 50%;
                font-size: 14px;
                height: 30px;
                width: 30px;
            }

            .popup-head-right .btn-group .dropdown-menu {
                border: medium none;
                min-width: 122px;
                padding: 0;
            }

                .popup-head-right .btn-group .dropdown-menu li a {
                    font-size: 12px;
                    padding: 3px 10px;
                    color: #303030;
                }

            .popup-messages .direct-chat-name {
                font-size: 15px;
                font-weight: 600;
                margin: 0 0 0 49px !important;
                color: #fff;
                opacity: 0.9;
            }

            .popup-messages .direct-chat-info {
                display: block;
                font-size: 12px;
                margin-bottom: 0;
            }

            .popup-messages .big-round {
                margin: -9px 0 0 !important;
            }

            .popup-messages .direct-chat-img {
                border: 1px solid #fff;
                background: #3f9684 none repeat scroll 0 0;
                border-radius: 50%;
                float: left;
                height: 40px;
                margin: -21px 0 0;
                width: 40px;
            }

            .direct-chat-reply-name {
                color: #fff;
                font-size: 15px;
                margin: 0 0 0 10px;
                opacity: 0.9;
            }

            .direct-chat-img-reply-small {
                border: 1px solid #fff;
                border-radius: 50%;
                float: left;
                height: 20px;
                margin: 0 8px;
                width: 20px;
                background: #3f9684;
            }

            .popup-messages .direct-chat-msg {
                border-radius: 30px;
                color: #fff;
                padding: 10px 15px;
                position: relative;
                width: fit-content;
                margin-bottom: 2px;
                font-size: 14px;
            }

            .popup-messages-footer .btn-group-sm > .btn, .btn-sm {
                padding: 0rem 0.8rem 0rem 0.4rem !important;
                font-size: 1rem !important;
                line-height: 0 !important;
                border-radius: 0 !important;
                border: none !important;
                outline: none !important;
                display: block !important;
            }

            .form-control:focus {
                box-shadow: none !important
            }

            .message-right {
                background: #0081ff;
                margin-left: auto;
                max-width: 80%;
            }

            .message-left {
                background: #6c6c6c;
                max-width: 80%;
            }
        </style>
    </head>
    <body>
        @if (type != (int)GroupUser.admin)
        {
            <button id="openChat" class="open-button" onclick="openForm(-1, '')" title="Chat"><i class="fa fa-comment"></i></button>
        }
        <input type="hidden" id="idReceiverMessage" />
        <div class="popup-box" id="myForm">
            <div class="popup-head">
                <div class="row">
                    <div class="col-9 text-left" id="ChatWith">Chat với Admin</div>
                    <div class="col-3 text-center">
                        <button title="Đóng" onclick="closeForm()" class="close" style="padding:0px 10px 3px 0px;font-size:1.85rem;color:#000;opacity:0.8;">
                            <span>&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="popup-messages wrapper" id="popupBody">
                <div class="direct-chat-messages" id="lstMessages">

                </div>
            </div>

            <div class="popup-messages-footer">
                <div class="input-group">
                    <input id="msg" type="text" placeholder="Nhập tin nhắn..." class="form-control" style="border-radius:50px;color:black;" maxlength="1998">
                    <span class="input-group-btn">
                        <button id="sendMsg" onclick="SendMesenger()" type="button" style="color:#0a86ff;" class="btn btn-sm form-control" title="Gửi"><i class="fa fa-paper-plane"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
}

<!--js signalR-->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<!--js scroll load more chat message-->
<script src="~/Scripts/scrollPagination/scrollPaginationChatMessage.js"></script>
<!--js scroll load more notify-->
<script src="~/Scripts/scrollPagination/scrollpagination.js"></script>
<script src="~/Scripts/jqueryblockUI/jquery.blockUI.js"></script>

<!--js select2-->
<script src="~/Scripts/select2.min.js"></script>

<script type="text/javascript">
    var userId = @userId;
    typeUser = @type;

    function Hello() {
        alert('hello');
    }

    $(function () {
        // Lúc mới vào load thông báo
        $.ajax({
            type: 'GET',
            url: '/Home/GetNotificationCoutByUserId',
            success: function (rs) {
                $('span.count').html(rs.countNoti);
                if (@type == 3) {
                    $('span.countMesssage').html(rs.countMessage);
                }
                
            },
            error: function (error) {
                console.log(error);
            }
        })

        // Đếm và hiện số thống báo ở icon quả chuông
        function updateNotificationCount() {
                $.ajax({
                    type: 'GET',
                    url: '/Home/GetQuantityNoti',
                    success: function (rs) {
                        //var countNoti = rs.length;
                        $('span.count').html(rs);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }

        // kết nối với server
        var connection = $.hubConnection("/signalr", { useDefaultPath: false });
        $.connection.hub.start().done(function () {
            if (@type == 3) {
                notificationHub.server.online(-1, $.connection.hub.id); //nếu nằm trong nhóm admin thì gửi -1 sang
            } else {
                notificationHub.server.online(userId, $.connection.hub.id); //Id của user và id của kết nối tới hub
            }
        });
        connection.logging = true;
        connection.start();

        var notificationHub = $.connection.notificationHub;

        //signalr nhận message thông báo từ server nếu == "notify" thì chạy hàm đếm lại số thông báo để hiển thị ở icon quả chuông
        notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() == "notify") {
                    var idNoti = 0;
                    $.ajax({
                        type: 'GET',
                        url: '/Home/GetNotiNewFirst',
                        success: function (rs) {
                            idNoti = rs.Id;

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-bottom-left",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "500",
                                "hideDuration": "1000",
                                "timeOut": "10000",
                                "extendedTimeOut": "10000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut",
                            };

                            toastr.info("Hãy vào đăng ký đi nào  <img src=\"/assets/img/notify.jpg\" style='width: 30px; height: 25px'/> </br><span style='color:#efff00'>Khoảng vài giây trước</span>", "Thông báo: Sắp đến giờ ăn!!!", { onclick: function () { RedirectAllDishs(idNoti) } });

                            var notifyLoaded = $('#notifyLoaded');
                            if (notifyLoaded != null && notifyLoaded != undefined && notifyLoaded.length > 0) {
                                var html = "";
                                var now = new Date();
                                var notifyNew = $('#notifyNew');
                                if (notifyNew != null && notifyNew != undefined && notifyNew.length > 0) {
                                    $('#notifyNew').remove();
                                }

                                html += `<span id='notifyNew' style='font-size: 13px; padding-left: 25px;'><b>Mới</b></span>`;
                                html += `<a class='dropdown-item d-flex align-items-center' style='padding-bottom:5px;cursor: pointer;text-transform: none;background-color:#d7d9db;' onclick='RedirectAllDishs(${idNoti})' href='#'>
                                     <div class='mr-3'>
                                         <div>
                                             <img src='/Content/image/Dish/favicon.png' style='width:35px; height:35px;border-radius:25px;border:none;' />
                                         </div>
                                     </div>
                                     <div class='text-wrap wrapper'>
                                            <span>Bạn có thông báo mới: ${rs.ContentNoti.trim()}</span>
                                            <div class='small'>
                                                <span class='update-timeMinute' id='${now.getHours()}_${now.getMinutes()}' style='color:#138ce6;'>Vừa mới xong</span>
                                            </div>
                                    </div>
                                    <span class='dot' style='background-color:#0095ff;height:11px;width:16px;border-radius:100%;display:inline-block;'><span>
                                </a>`

                                $('#contentLoading').prepend(html);
                                pageSize = pageSize + 1;
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }

                if (message && message.toLowerCase() == "notifyaddnewdish") {
                    var idNotiAddNewDish = 0;
                    var idNewDish = 0;
                    var defautImage = '';
                    $.ajax({
                        type: 'GET',
                        url: '/Home/GetNotiNewFirst',
                        success: function (rs) {
                            var data = rs;
                            idNotiAddNewDish = rs.Id;
                            idNewDish = rs.DishId;
                            defautImage = rs.Image;

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-bottom-left",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "500",
                                "hideDuration": "1000",
                                "timeOut": "10000",
                                "extendedTimeOut": "10000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut",
                            };

                            toastr.info("Vào khám phá món mới ngay nào!  <img src=\"/Content/image/Dish/" + defautImage + "\" style='width: 30px; height: 25px'/> </br><span style='color:#efff00'>Khoảng vài giây trước</span>", "Hot: Đã có món mới!!!", { onclick: function () { RedirectViewNewDish(idNotiAddNewDish, idNewDish) } });

                            var notifyLoaded = $('#notifyLoaded');
                            if (notifyLoaded != null && notifyLoaded != undefined && notifyLoaded.length > 0) {
                                var html = "";
                                var now = new Date();
                                var notifyNew = $('#notifyNew');
                                if (notifyNew != null && notifyNew != undefined && notifyNew.length > 0) {
                                    $('#notifyNew').remove();
                                }

                                html += `<span id='notifyNew' style='font-size: 13px; padding-left: 25px;'><b>Mới</b></span>`;
                                html += `<a class='dropdown-item d-flex align-items-center' style='padding-bottom:5px;cursor: pointer;text-transform: none;background-color:#d7d9db;' onclick='RedirectViewNewDish(${idNotiAddNewDish},${idNoti})' href='#'>
                                     <div class='mr-3'>
                                         <div>
                                             <img src='/Content/image/Dish/${defautImage}' style='width:35px; height:35px;border-radius:25px;border:none;' />
                                         </div>
                                     </div>
                                     <div class='text-wrap wrapper'>
                                            <span>Bạn có thông báo mới: ${rs.ContentNoti.trim()}</span>
                                            <div class='small'>
                                                <span class='update-timeMinute' id='${now.getHours()}_${now.getMinutes()}' style='color:#138ce6;'>Vừa mới xong</span>
                                            </div>
                                    </div>
                                    <span class='dot' style='background-color:#0095ff;height:11px;width:16px;border-radius:100%;display:inline-block;'><span>
                                </a>`

                                $('#contentLoading').prepend(html);
                                pageSize = pageSize + 1;
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }

                updateNotificationCount();
        }

        notificationHub.client.getmessage = function (message, messageChat, senderToAdmin) {
            if (@type == 3) {
                if (message && message.toLowerCase() == "getmessageadmin") {
                    $.ajax({
                        type: 'POST',
                        url: '/Chat/receive',
                        success: function (rs) {
                            var popupSelectChat = $("#PopupSelectChat").css("display");
                            var style = $('#myForm').css("display");
                            var chatWithAdmin = $('#idReceiverMessage').val(); //id của người mà admin đang chat cùng(đang mở popup chat)

                            // xử lý load tin nhắn ra ở popup chat
                            if (style == "block") {
                                var html = ``;
                                var time = new Date();
                                var year = time.getFullYear();
                                var month = ("0" + (time.getMonth() + 1)).slice(-2);
                                var date = ("0" + time.getDate()).slice(-2);
                                var hour = ("0" + time.getHours()).slice(-2);
                                var miu = ("0" + time.getMinutes()).slice(-2);
                                var sec = ("0" + time.getSeconds()).slice(-2);
                                var today = $('#messageToday');
                                if (today == null || today == undefined || today.length == 0) {
                                    html += `<div id='messageToday' class="text-center"><div class="timestamp">Hôm nay</div></div>`;
                                }
                                var hourToday = $(`#messageTodayHour_${(("0" + new Date().getHours().toString()).slice(-2))}`);
                                if (hourToday == null || hourToday == undefined || hourToday.length == 0) {
                                    html += `<div id='messageTodayHour_${hour}' class="text-center"><div class="timestamp">${hour}:${miu}</div></div>`
                                }

                                if (senderToAdmin == chatWithAdmin) {
                                    for (var i = 0; i < rs.length; i++) {
                                        html += `<div class='direct-chat-msg pull-left message-left' title='${date}/${month}/${year} ${hour}:${miu}:${sec}'>${rs[i]}</div>`;
                                    }

                                    $('#lstMessages').append(html);
                                    var heght = $('#lstMessages').height();
                                    $('#popupBody').scrollTop(heght);
                                    pageSizeChatMessage = pageSizeChatMessage + 1;

                                     var updateSee = {
                                         updateSeeById: senderToAdmin,
                                    }
                                    $.ajax({
                                        type: 'POST',
                                        url: '/Chat/UpdateSeenById',
                                        data: JSON.stringify(updateSee),
                                        contentType: "application/json; charset=utf-8",
                                        dataType: 'json',
                                        success: function (data) {
                                            if (@type == 3) {
                                                $('span.countMesssage').html(data);
                                            }
                                            console.log('Đã cập nhật tin nhắn là đã xem!')
                                        },
                                        error: function (error) {
                                        },
                                    });
                                }
                            }

                            //xử lý load tin nhắn mới ở modal chọn người chat
                            if (popupSelectChat == 'block') {
                                var element = $(`#lstSelectChat #user_${senderToAdmin}`);
                                var messageToName = element.find('.messageToName').text();
                                $(`#lstSelectChat #user_${senderToAdmin}`).remove();
                                if (rs.length > 0) {
                                    var data = rs[rs.length - 1];
                                    var html = `<a id='user_${senderToAdmin}' class='row d-flex align-items-center' style='padding:5px 0px 7px 25px;cursor:pointer;text-transform:none;${(style != "block") ? "background:#d7d9db;" : ""}' onclick="openForm(${senderToAdmin}, '${messageToName}')" href='javascript:void(0)'>
                                     <div class='col-10'>
                                        <div style='text-overflow:ellipsis;'>
                                            <span class='messageToName' style='font-size:14px;'>${messageToName}</span>
                                            <div class='small' style='padding-top:5px;font-size:13px;'>
                                                <span class='messageTrim'>${data.trim().length > 20 ? data.substr(0, 20) + "..." : data.trim()}</span>
                                                <span class='messageime' ${(style != "block") ? "style=color:#138ce6;" : ""}>&ensp;.Vừa xong</span>
                                            </div>
                                        </div>
                                     </div>`
                                    if (style != "block") {
                                        html += `<div>
                                                <span class='dot' style='background-color:#0095ff;height:13px;width:13px;border-radius:100%;display:inline-block;'><span>
                                            </div>`
                                    }
                                    html += `</a><hr style="margin:0px 25px 0px 26px;color:#d7d9db;" />`;
                                    $('#lstSelectChat').prepend(html);
                                }
                            }

                            if (style != "block") {
                                $.ajax({
                                    type: 'GET',
                                    url: '/Chat/UpdateNumberMessageWhenPopupClose',
                                    success: function (data) {
                                        if (@type == 3) {
                                            if (data > 0) playSoundMessage();
                                            $('span.countMesssage').html(data);
                                        }
                                    },
                                })
                            }
                            if (style == "block" && senderToAdmin != chatWithAdmin) {
                                $.ajax({
                                    type: 'GET',
                                    url: '/Chat/UpdateNumberMessageWhenPopupClose',
                                    success: function (data) {
                                        if (@type == 3) {
                                            if (data > 0) playSoundMessage();
                                            $('span.countMesssage').html(data);
                                        }
                                    },
                                })
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
            } else {
                if (message && message.toLowerCase() == "getmessageclient") {
                    $.ajax({
                        type: 'POST',
                        url: '/Chat/receive',
                        success: function (rs) {
                            if (rs.length > 0) {
                                var style = $('#myForm').css("display");;
                                if (style == "block") {
                                    var html = ``;
                                    var time = new Date();
                                    var year = time.getFullYear();
                                    var month = ("0" + (time.getMonth() + 1)).slice(-2);
                                    var date = ("0" + time.getDate()).slice(-2);
                                    var hour = ("0" + time.getHours()).slice(-2);
                                    var miu = ("0" + time.getMinutes()).slice(-2);
                                    var sec = ("0" + time.getSeconds()).slice(-2);
                                    var today = $('#messageToday');
                                    if (today == null || today == undefined || today.length == 0) {
                                        html += `<div id='messageToday' class="text-center"><div class="timestamp">Hôm nay</div></div>`;
                                    }
                                    var hourToday = $(`#messageTodayHour_${(("0" + new Date().getHours().toString()).slice(-2))}`);
                                    if (hourToday == null || hourToday == undefined || hourToday.length == 0) {
                                        html += `<div id='messageTodayHour_${hour}' class="text-center"><div class="timestamp">${hour}:${miu}</div></div>`
                                    }

                                    for (var i = 0; i < rs.length; i++) {

                                        html += `<div class='direct-chat-msg pull-left message-left' title='${date}/${month}/${year} ${hour}:${miu}:${sec}'>${rs[i]}</div>`;
                                    }

                                    $('#lstMessages').append(html);
                                    var heght = $('#lstMessages').height();
                                    $('#popupBody').scrollTop(heght);
                                    pageSizeChatMessage = pageSizeChatMessage + 1;
                                } else
                                    playSoundMessage();
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
            }
        }

        setInterval(function () {
            if (userId != null && userId != undefined && userId > 0) {
                $.ajax({
                    type: 'GET',
                    url: '/Home/RefreshListUserOnline',
                    success: function (rs) {
                        console.log('Đã làm mới list user đang online');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        }, 60000);

        setInterval(function () {
            var now = new Date();
            $('#contentLoading a .update-timeMinute').each(function (index, element) {
                var id = $(element).attr('id');
                if (id.length > 0) {
                    var split = id.split('_');
                    var curren = new Date(`${now.getFullYear()}/${now.getMonth() + 1}/${now.getDate()} ${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}`);
                    var timeNoti = new Date(`${now.getFullYear()}/${now.getMonth() + 1}/${now.getDate()} ${split[0]}:${split[1]}:0`);
                    var timeSubtract = Math.abs(curren - timeNoti);
                    if (timeSubtract > 0) {
                        var sec = timeSubtract / 1000; //chia lấy số giây
                        var hour = sec / 3600; // chia lấy giờ
                        if (hour >= 1) {
                            $(element).text(`Khoảng 1 giờ trước`)
                        } else {
                            var miu = sec / 60; // chia lấy phút
                            if (miu >= 1) {
                                $(element).text(`Khoảng ${miu.toFixed(0)} phút trước`)
                            }
                        }
                    }
                }
            })
        }, 60000);

        window.addEventListener('beforeunload', function (e) {
            if (userId != null && userId != undefined && userId > 0) {
                $.ajax({
                    type: 'GET',
                    url: '/Home/UpdateOfflineUserClose',
                    success: function (rs) {
                        console.log('Đã update trạng thái user');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        });

        if (userId != null && userId != undefined && userId > 0) {
            $.ajax({
                type: 'POST',
                url: '/Chat/receive',
                success: function (rs) {
                    console.log(rs);
                },
                error: function (error) {
                    console.log(error);
                }
            })
            $.ajax({
                type: 'GET',
                url: '/Home/UpdateOnlineUserOnload',
                success: function (rs) {
                    console.log('Đã update trạng thái user');
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

    })

    function RedirectAllDishs(idNoti) {
            $.ajax({
                type: 'GET',
                url: '/Home/UpdateNotiSeenAfterClick/' + idNoti,
                success: function (rs) {
                    updateNotificationCount();
                },
                error: function (error) {
                    console.log(error);
                }
            })
            window.location.href = "/Home/ListAllDish";
        }

    function RedirectViewNewDish(idNotiAddNewDish, idNewDish) {
            $.ajax({
                type: 'GET',
                url: '/Home/UpdateNotiSeenAfterClick/' + idNotiAddNewDish,
                success: function (rs) {
                    updateNotificationCount();
                },
                error: function (error) {
                    console.log(error);
                }
            })
            window.location.href = "/Register/RegisterByPersonal?dishId=" + idNewDish;
        }

    $(function () {
        $('#scrollpagination').scrollPagination({
            'url': '/Home/LoadNoti',
            'data': {
                'page': pageIndex,
                'size': pageSize,
            },
        });
    });

    function LoadNoti() {
        var notifyLoaded = $('#notifyLoaded'); //kiểm tra xem thông báo đã load ra chưa
        if (notifyLoaded.length <= 0 || notifyLoaded == undefined || notifyLoaded == null) {
            $('div #scrollpagination').block({
                message: 'Đang tải...',
                css: { border: '0.5px solid #000000', fontSize: '12px', margin: '90% 0% 0% 35%' }
            });
            var data = {
                page: 1,
                size: 15,
            };
            $.ajax({
                type: 'POST',
                url: '/Home/LoadNoti',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    var html = "";
                    html += `<a id='notifyLoaded' style='display:none;'></a>`;
                    //load những thông báo mới
                    if (data.lstNotiNew != null && data.lstNotiNew.length > 0) {
                        html += `<span id='notifyNew' style='font-size: 13px; padding-left: 25px;'><b>Mới</b></span>`;
                        for (var i = 0; i < data.lstNotiNew.length; i++) {
                            html += `<a class='dropdown-item d-flex align-items-center' style='padding-bottom:5px;cursor: pointer;text-transform: none;${data.lstNotiNew[i].SeenStatus != 1 ? "background-color:#d7d9db;" : ""}' onclick='${data.lstNotiNew[i].TypeNoti == 2 ? "RedirectViewNewDish(" + data.lstNotiNew[i].Id + "," + data.lstNotiNew[i].DishId + ")" : "RedirectAllDishs(" + data.lstNotiNew[i].Id + ")"}' href='#'>
                                     <div class='mr-3'>
                                         <div>
                                             <img src='/Content/image/Dish/${data.lstNotiNew[i].TypeNoti == 2 ? data.lstNotiNew[i].Image : "favicon.png"}' style='width:35px; height:35px;border-radius:25px;border:none;' />
                                         </div>
                                     </div>
                                     <div class='text-wrap wrapper'>
                                            <span>Bạn có thông báo mới: ${data.lstNotiNew[i].ContentNoti.trim()}</span>
                                            <div class='small'>`
                            if (data.lstNotiNew[i].Days > 0) {
                                html += `<span style='color:#138ce6;'>${data.lstNotiNew[i].Days} ngày trước</span>`
                            }
                            if (data.lstNotiNew[i].Days == 0 && data.lstNotiNew[i].Hours > 0) {
                                html += `<span style='color:#138ce6;'>Khoảng ${data.lstNotiNew[i].Hours} giờ trước</span>`
                            }
                            if (data.lstNotiNew[i].Days == 0 && data.lstNotiNew[i].Hours == 0 && data.lstNotiNew[i].Minutes > 0) {
                                html += `<span class='update-timeMinute' id='${data.lstNotiNew[i].Hour_Minute}' style='color:#138ce6;'>Khoảng ${data.lstNotiNew[i].Minutes} phút trước</span>`
                            }
                            if (data.lstNotiNew[i].Days == 0 && data.lstNotiNew[i].Hours == 0 && data.lstNotiNew[i].Minutes == 0 && data.lstNotiNew[i].Seconds > 0) {
                                html += `<span class='update-timeMinute' id='${data.lstNotiNew[i].Hour_Minute}' style='color:#138ce6;'>Khoảng ${data.lstNotiNew[i].Seconds} giây trước</span>`
                            }
                            html += `</div></div>`
                            if (data.lstNotiNew[i].SeenStatus != 1) {
                                html += `<span class='dot' style='background-color:#0095ff;height:11px;width:16px;border-radius:100%;display:inline-block;'><span>`
                            }
                            html += `</a>`;
                        }
                    }
                    $('#contentLoading').html(html);
                    //Load những thông báo cũ
                    if (data.lstNotiOld != null && data.lstNotiOld.length > 0) {
                        var notifyNew = $('#notifyNew');
                        if (notifyNew != null && notifyNew != undefined && notifyNew.length > 0) {
                            html += `<span id='notifyOld' style='font-size: 13px; padding-left: 25px;'><b>Trước đó</b></span>`;
                        } else {
                            html += `<a id='appendHere'></a>`;
                        }
                        for (var i = 0; i < data.lstNotiOld.length; i++) {
                            html += `<a class='dropdown-item d-flex align-items-center' style='padding-bottom:5px;cursor: pointer;text-transform: none;${data.lstNotiOld[i].SeenStatus != 1 ? "background-color:#d7d9db;" : ""}' onclick='${data.lstNotiOld[i].TypeNoti == 2 ? "RedirectViewNewDish(" + data.lstNotiOld[i].Id + "," + data.lstNotiOld[i].DishId + ")" : "RedirectAllDishs(" + data.lstNotiOld[i].Id + ")"}' href='#'>
                                     <div class='mr-3'>
                                         <div>
                                             <img src='/Content/image/Dish/${data.lstNotiOld[i].TypeNoti == 2 ? data.lstNotiOld[i].Image : "favicon.png"}' style='width:35px; height:35px;border-radius:25px;border:none;' />
                                         </div>
                                     </div>
                                     <div class='text-wrap wrapper'>
                                            <span>Bạn có thông báo mới: ${data.lstNotiOld[i].ContentNoti.trim()}</span>
                                            <div class='small'>`
                            if (data.lstNotiOld[i].Days > 0) {
                                html += `<span style='color:#138ce6;'>${data.lstNotiOld[i].Days} ngày trước</span>`
                            }
                            if (data.lstNotiOld[i].Days == 0 && data.lstNotiOld[i].Hours > 0) {
                                html += `<span style='color:#138ce6;'>Khoảng ${data.lstNotiOld[i].Hours} giờ trước</span>`
                            }
                            html += `</div></div>`
                            if (data.lstNotiOld[i].SeenStatus != 1) {
                                html += `<span class='dot' style='background-color:#0095ff;height:11px;width:16px;border-radius:100%;display:inline-block;'><span>`
                            }
                            html += `</a>`;
                        }
                    }
                    if (data.lstNotiNew.length == 0 && data.lstNotiOld.length == 0) {
                        html += `<a class='dropdown-item small text-gray-500'>Không có thông báo nào cho bạn!</a>`;
                    }
                    $('#contentLoading').html(html);

                    $('div #scrollpagination').unblock();
                },
                error: function (error) {
                    console.log(error);
                },
            });
        }
    }

    function TickALLReaded() {
        $.ajax({
            type: 'GET',
            url: '/Home/TickALLReaded/' + userId,
            success: function (rs) {
                if (rs > 0) {
                    $('span.count').html(0);
                    $('#contentLoading a').each(function (index, element) {
                        $(element).attr('style', 'padding-bottom:5px;cursor: pointer;text-transform: none;')
                        $(element).find('.dot').remove();
                    })
                }
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function openForm(to, chatWith) {
        $('div #myForm').block({
            message: 'Đang tải...',
            css: { border: '0.5px solid #000000', fontSize: '12px', margin: '90% 0% 0% 35%' }
        });
        pageSizeChatMessage = 15
        pageIndexChatMessage = 2;
        if (to != -1) {
            toId = to;
            $('#ChatWith').text(chatWith);
            $('#idReceiverMessage').val(to);
            var updateSee = {
                updateSeeById: to,
            }
            $.ajax({
                type: 'POST',
                url: '/Chat/UpdateSeenById',
                data: JSON.stringify(updateSee),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    if (@type == 3) {
                        $('span.countMesssage').html(data);
                    }
                    console.log('Đã cập nhật tin nhắn là đã xem!')
                },
                error: function (error) {
                },
            });
        }
        var html = ``;
        var data = {
            page: 1,
            size: 15,
            toId: to,
        };
        $.ajax({
            type: 'POST',
            url: '/Chat/GetChatByClient',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            async: false,
            success: function (rs) {
                for (var i = 0; i < rs.length; i++) {
                    if (rs[i].CreatedDate != null && rs[i].CreatedDate != "") {
                        var datetime = new Date(parseInt(rs[i].CreatedDate.substr(6))).toLocaleString('vi', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/(\d+)\/(\d+)\/(\d+)/, '$1/$2/$3');
                        html += `<div id='messageDateTime_${datetime.replaceAll('/', '')}' class="text-center"><div class="timestamp">${datetime}</div></div>`;
                        for (var j = 0; j < rs[i].lstChat.length; j++) {

                            var dateConvert = new Date(parseInt(rs[i].lstChat[j].CreatedDate.substr(6))) //convert định dạng
                            var date = ("0" + dateConvert.getDate()).slice(-2) + "/" + ("0" + (dateConvert.getMonth() + 1)).slice(-2) + "/" + dateConvert.getFullYear() + " " + ("0" + dateConvert.getHours()).slice(-2) + ":" + ("0" + dateConvert.getMinutes()).slice(-2) + ":" + ("0" + dateConvert.getSeconds()).slice(-2);

                            if (typeUser == 3) {
                                if (rs[i].lstChat[j].SenderId == -1) {
                                    html += `<div class='direct-chat-msg pull-right message-right' title='${date}'>${rs[i].lstChat[j].Message}</div>`;
                                } else {
                                    html += `<div class='direct-chat-msg pull-left message-left' title='${date}'>${rs[i].lstChat[j].Message}</div>`;
                                }
                            } else {
                                if (rs[i].lstChat[j].SenderId == userId) {
                                    html += `<div class='direct-chat-msg pull-right message-right' title='${date}'>${rs[i].lstChat[j].Message}</div>`;
                                } else {
                                    html += `<div class='direct-chat-msg pull-left message-left' title='${date}'>${rs[i].lstChat[j].Message}</div>`;
                                }
                            }
                        }
                    } else {
                        //nếu như những tin nhắn của các ngày khác đã có
                        var today = $('#messageToday');
                        if (today == null || today == undefined || today.length == 0) {
                            html += `<div id='messageToday' class="text-center"><div class="timestamp">Hôm nay</div></div>`;
                        }
                        for (var j = 0; j < rs[i].lstChatHour.length; j++) {
                            html += `<div id='messageTodayHour_${rs[i].lstChatHour[j].Hour.substr(0, 2)}' class="text-center"><div class="timestamp">${rs[i].lstChatHour[j].Hour}</div></div>`
                            for (var k = 0; k < rs[i].lstChatHour[j].lstChat.length; k++) {

                                var dateConvert = new Date(parseInt(rs[i].lstChatHour[j].lstChat[k].CreatedDate.substr(6))) //convert định dạng
                                var date = ("0" + dateConvert.getDate()).slice(-2) + "/" + ("0" + (dateConvert.getMonth() + 1)).slice(-2) + "/" + dateConvert.getFullYear() + " " + ("0" + dateConvert.getHours()).slice(-2) + ":" + ("0" + dateConvert.getMinutes()).slice(-2) + ":" + ("0" + dateConvert.getSeconds()).slice(-2);

                                if (typeUser == 3) {
                                    if (rs[i].lstChatHour[j].lstChat[k].SenderId == -1) {
                                        html += `<div class='direct-chat-msg pull-right message-right' title='${date}'>${rs[i].lstChatHour[j].lstChat[k].Message}</div>`;
                                    } else {
                                        html += `<div class='direct-chat-msg pull-left message-left' title='${date}'>${rs[i].lstChatHour[j].lstChat[k].Message}</div>`;
                                    }
                                } else {
                                    if (rs[i].lstChatHour[j].lstChat[k].SenderId == userId) {
                                        html += `<div class='direct-chat-msg pull-right message-right' title='${date}'>${rs[i].lstChatHour[j].lstChat[k].Message}</div>`;
                                    } else {
                                        html += `<div class='direct-chat-msg pull-left message-left' title='${date}'>${rs[i].lstChatHour[j].lstChat[k].Message}</div>`;
                                    }
                                }
                            }
                        }
                    }
                }
                $('#lstMessages').append(html);
            },
            error: function (error) {
                html += `<div class='text-center'>
                            <div style='color:red;margin-top:5px;' class='timestamp'>Mất kết nối <i class='fa fa-spin text-danger'></i></div>
                         </div>`;
                $('#lstMessages').append(html);
                console.log(error);
            }
        })

        document.getElementById("myForm").style.display = "block";
        var heght = $('#lstMessages').height();
        $('#popupBody').scrollTop(heght); //auto hiện cuối cùng scroll
        $('div #myForm').unblock();
        $('#msg').focus();
    }

    //$(".selcted2").select2({theme: "bootstrap", cache: true, dropdownAutoWidth: true,});

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        $('#lstMessages').empty();
        pageSizeChatMessage = 15
        pageIndexChatMessage = 2;
    }

    $('#msg').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            SendMesenger();
        }
    });

    function SendMesenger() {
        var mesage = $('#msg').val().trim();
        var id = $('#idReceiverMessage').val().trim() * 1;
        if (mesage == "" || mesage == null || mesage == undefined) {
            $('#msg').focus();
            return false;
        }
        $('#msg').val('');
        $('#msg').focus();
        var receiverId = 0;
        if (typeUser == 3) receiverId = id;

        var data = {
            ReceiverId: receiverId,
            Message: mesage,
        };
        $.post('/Chat/sendmsg', data,
            function (rs) {
                if (rs > 0) {
                    var html = ``;
                    var time = new Date();
                    var year = time.getFullYear();
                    var month = ("0" + (time.getMonth() + 1)).slice(-2);
                    var date = ("0" + time.getDate()).slice(-2);
                    var hour = ("0" + time.getHours()).slice(-2);
                    var miu = ("0" + time.getMinutes()).slice(-2);
                    var sec = ("0" + time.getSeconds()).slice(-2);
                    var today = $('#messageToday');
                    if (today == null || today == undefined || today.length == 0) {
                        html += `<div id='messageToday' class="text-center"><div class="timestamp">Hôm nay</div></div>`;
                        html += `<div id='messageTodayHour_${hour}' class="text-center"><div class="timestamp">${hour}:${miu}</div></div>`
                    } else {
                        var hourToday = $(`#messageTodayHour_${(("0" + new Date().getHours().toString()).slice(-2))}`);
                        if (hourToday == null || hourToday == undefined || hourToday.length == 0) {
                            html += `<div id='messageTodayHour_${hour}' class="text-center"><div class="timestamp">${hour}:${miu}</div></div>`
                        }
                    }
                    html += `<div class='direct-chat-msg pull-right message-right' title='${date}/${month}/${year} ${hour}:${miu}:${sec}'>${mesage}</div>`;
                    $('#lstMessages').append(html);
                    var heght = $('#lstMessages').height();
                    $('#popupBody').scrollTop(heght);
                    pageSizeChatMessage = pageSizeChatMessage + 1;
                }
                else {
                    var html = `<div class='direct-chat-msg pull-right message-right' style='color:#f00;background:#cccccc;margin-left:26%;'>
                                    Đã có lỗi xảy ra!
                                    <i class='fa fa-spin text-danger'></i>
                                </div>`;
                    $('#lstMessages').append(html);
                    console.log('Có lỗi xảy ra');
                    var heght = $('#lstMessages').height();
                    $('#popupBody').scrollTop(heght);
                }
            }).fail(function () {
                var html = `<div class='direct-chat-msg pull-right message-right' style='color:#f00;background:#cccccc;margin-left:26%;'>
                                Đã có lỗi xảy ra!
                                <i class='fa fa-spin text-danger'></i>
                            </div>`;
                $('#lstMessages').append(html);
                console.log('Có lỗi xảy ra');
                var heght = $('#lstMessages').height();
                $('#popupBody').scrollTop(heght);
            });
    }

    $(function () {
        $('#popupBody').scrollPaginationChatMessage({
            'url': '/Chat/GetChatByClient',
            'data': {
                'page': pageIndexChatMessage,
                'size': pageSizeChatMessage,
                'toId': toId,
            },
        });
    });

    function LoadPopupSelectChat() {
        if (@type == 3) {
            var messageLoaded = $("#PopupSelectChat").css("display");//xem popup select chat đã được mở ra hay chưa
            if (messageLoaded != 'block') {
                $('div #PopupSelectChat').block({
                    message: 'Đang tải...',
                    css: { border: '0.5px solid #000000', fontSize: '12px', margin: '90% 0% 0% 35%' }
                });
                $.ajax({
                    type: 'POST',
                    url: '/Chat/LoadPopupSelectChat',
                    success: function (data) {
                        var html = "";
                        if (data != null && data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                html += `<a id='user_${data[i].AdminTo}' class='row d-flex align-items-center' style='padding:5px 0px 7px 25px;cursor:pointer;text-transform:none;${(data[i].Status > 0 && data[i].IdSender != -1) ? "background:#d7d9db;" : ""}' onclick="openForm(${data[i].AdminTo}, '${data[i].AdminToUserName}')" href='javascript:void(0)'>
                                     <div class='col-10'>
                                        <div style='text-overflow:ellipsis;'>
                                            <span class='messageToName' style='font-size:14px;'>${data[i].AdminToUserName.trim()}</span>
                                            <div class='small' style='padding-top:5px;font-size:13px;'>
                                                ${data[i].IdSender == -1 ? "<b>Bạn: </b>" : ""}
                                                <span class='messageTrim'>${data[i].Message.trim().length > 20 ? data[i].Message.substr(0, 20) + "..." : data[i].Message.trim()}</span>
                                                <span class='messageTime' ${data[i].Status > 0 ? "style=color:#138ce6;" : ""}>&ensp;.${data[i].TimeDisplay}</span>
                                            </div>
                                        </div>
                                     </div>`
                                if (data[i].IdSender != -1) {
                                    if (data[i].Status > 0) {
                                        html += `<div>
                                            <span class='dot' style='background-color:#0095ff;height:13px;width:13px;border-radius:100%;display:inline-block;'><span>
                                        </div>`
                                    }
                                }
                                html += `</a><hr style="margin:0px 25px 0px 26px;color:#d7d9db;" />`;
                            }
                        }
                        $('#lstSelectChat').html(html);

                        $('div #PopupSelectChat').unblock();
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
            }
        }
    }

    function playSoundMessage() {
        var url = '/Content/soundMessage.mp3';
        const audio = new Audio(url);
        audio.play();
    }
</script>